@import "../index.scss";

.skills {
  height: 100vh;
  overflow: hidden;
  .wrapper {
    width: 1366px;
    margin: auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    @include mobile {
      width: 100vw;
    }
    h2 {
      color: #f06000;
      font-size: 100px;
      @include mobile {
        font-size: 50px;
      }
    }
    h3 {
      font-size: 80px;
      color: white;
      @include mobile {
        font-size: 40px;
      }
    }

    .skillsContainer {
      display: grid;
      grid-template-columns: repeat(3, auto);

      row-gap: 50px;
      column-gap: 50px;
      @include mobile {
        grid-template-columns: repeat(2, auto);
      }
      .item {
        height: 150px;
        width: 150px;
        cursor: pointer;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile {
          height: 100px;
          width: 100px;
        }
       svg{
        border-radius: 15px;
       }
        img {
          height: 170px;
          object-fit: cover;
          @include mobile {
            height: 100px;
          }
        }
      }
    }
  }
}
