@import "../index.scss";

.project {
  position: relative;
  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mobile {
      padding-top: calc(100vh - 100px);
      font-size: 24px;
    }

    h1 {
      text-align: center;
      font-size: 70px;
      color: #f06000;
    }
    .prpgressBar {
      width: 80%;
      height: 10px;
      background-color: white;
      border-radius: 10px;
    }
  }
  .container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    overflow: hidden;
    .wrapper {
      max-width: 1366px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      height: 100%;
      @include mobile {
        flex-direction: column;
        gap: 200px;
      }
      .imageContainer {
        flex: 1;
        height: 50%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 15px;
          @include mobile {
            object-fit: contain;
          }
        }
      }

      .textContainer {
        flex: 1;
        height: 50%;
        gap: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include mobile {
          // transform: none !important;
          margin-top: 50px;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
        h2 {
          font-size: 80px;
          color: white;
          @include mobile {
            font-size: 36px;
          }
        }
        p {
          font-size: 30px;
          overflow: unset;
          color: rgba(255, 255, 255, 0.4);
          @include mobile {
            font-size: 20px;
          }
        }
        button {
          background-color: #f06000;
          border-radius: 20px;
          font-size: 30px;
          color: white;
          height: 76px;
          width: 300px;
          outline: none;
          border: none;
        }
      }
    }
  }
}
